<h1>Interesting Links</h1>

<p>
  Instructions: Enter an interesting link, title, description and click "Submit" to post to the site!
</p>

<form action="/articles/new" method="post">
  <label for="article_title">Article Title:</label>
  <input type="text" name="article_title" id="article_title"></br>

  <label for="link">Link URL: </label>
  <input type="url" name="link" id="link"></br>

  <label for="decription">Description: </label>
  <input type="text" name="description" id="description"></br>

  <input type="submit">
</form>

<a href="/articles">Go to articles!</a>
